<ng-template #continueButton>
    <system-button
        class="btn-continue"
        [buttonType]="state === 'success' ? 'secondary' : 'primary'"
        (click)="continueClicked()"
        [loading]="loading"
    >
        {{ (state === 'success' ? 'forgotPassword.cta.resend' : 'forgotPassword.cta.reset') | translate }}
    </system-button>
</ng-template>

<div class="auth-page-container">
    <toolbar [leftItems]="[ToolbarItem.back]" (itemSelected)="navigationService.back()"></toolbar>

    <div class="form-container">
        @if (state !== 'success') {
            <div class="text-container">
                <div class="title">{{ 'forgotPassword.title' | translate }}</div>
                <div class="message">{{ 'forgotPassword.subtitle' | translate }}</div>
            </div>
            <form (submit)="$event.preventDefault(); continueClicked()">
                <div class="form-field-group">
                    <mat-form-field class="email-field" [class.ng-invalid]="emailControl.invalid">
                        <mat-label>
                            {{ 'forgotPassword.email.placeholder' | translate }}
                        </mat-label>
                        <input
                            #emailInput
                            matInput
                            type="email"
                            id="email"
                            class="form-control"
                            [formControl]="emailControl"
                            name="email"
                        />
                        @if (emailControl.valid) {
                            <img class="action-right" src="assets/images/checkmark-green.svg" />
                        }
                    </mat-form-field>
                    @if (emailControl.invalid) {
                        <div class="error">
                            {{ 'signIn.email.error' | translate }}
                        </div>
                    }
                </div>

                @if (isDesktop()) {
                    <ng-container *ngTemplateOutlet="continueButton"></ng-container>
                }
            </form>
        }

        @if (state === 'success') {
            <div class="success-container">
                <img src="assets/images/forgot-password.svg" />
                <div class="text-container">
                    <div class="title">{{ 'forgotPassword.success.title' | translate }}</div>
                    <div class="message">{{ 'forgotPassword.success.subtitle' | translate }}</div>
                </div>

                @if (isDesktop()) {
                    <ng-container *ngTemplateOutlet="continueButton"></ng-container>
                }
            </div>
        }

        @if (!isDesktop()) {
            <div class="bottom-container shown">
                <ng-container *ngTemplateOutlet="continueButton"></ng-container>
            </div>
        }
    </div>
</div>
