<no-auth-template>
    <div class="content">
        <div class="title">
            {{ 'reset-password.title' | translate }}
        </div>

        <div class="input-container">
            <div class="top-container">
                <mat-form-field>
                    <mat-label>
                        {{
                            (passwordFocused || passwordLength > 0
                                ? 'reset-password.password.label'
                                : 'reset-password.password.placeholder'
                            ) | translate
                        }}
                    </mat-label>
                    <input
                        #passwordRef
                        matNativeControl
                        [type]="revealPassword ? 'text' : 'password'"
                        [formControl]="password"
                        (keyup)="onPasswordChange(passwordRef.value)"
                        (focus)="passwordFocused = true"
                        (blur)="passwordFocused = false"
                    />
                    <button class="action-right" (click)="revealPassword = !revealPassword">
                        {{ (revealPassword ? 'reset-password.cta.hide' : 'reset-password.cta.show') | translate }}
                    </button>
                </mat-form-field>
                <div
                    class="hint"
                    [class.valid]="passwordRef.value.length >= 8"
                    [class.invalid]="password.dirty && passwordRef.value.length < 8"
                >
                    <div class="icon-left"></div>
                    {{ 'reset-password.password.minLengthHint' | translate }}
                </div>

                <mat-form-field>
                    <mat-label>
                        {{
                            (repeatPasswordFocused || repeatPasswordLength > 0
                                ? 'reset-password.password.label'
                                : 'reset-password.repeat.placeholder'
                            ) | translate
                        }}
                    </mat-label>
                    <input
                        #repeatPasswordRef
                        matNativeControl
                        [type]="revealRepeatPassword ? 'text' : 'password'"
                        [formControl]="repeatPassword"
                        (keyup)="onRepeatPasswordChange(repeatPasswordRef.value)"
                        (focus)="repeatPasswordFocused = true"
                        (blur)="repeatPasswordFocused = false"
                    />
                    <button class="action-right" (click)="revealRepeatPassword = !revealRepeatPassword">
                        {{ (revealRepeatPassword ? 'reset-password.cta.hide' : 'reset-password.cta.show') | translate }}
                    </button>
                </mat-form-field>
                @if (repeatPassword.errors?.noMatch) {
                    <div class="error">
                        {{ 'reset-password.error.noMatch' | translate }}
                    </div>
                }
            </div>

            <div class="bottom-container">
                <system-button [loading]="loading" (click)="savePassword()">
                    {{ 'reset-password.cta.setNewPassword' | translate }}
                </system-button>
            </div>
        </div>
    </div>
</no-auth-template>
